#!/bin/bash

# **************
# THIEF_HOME_PATH is your dot file root path.
# **************

# vim 
vim=vim -u $THIEF_HOME_PATH/vim/vimrc
vimrc=vim -u $THIEF_HOME_PATH/vim/vimrc $THIEF_HOME_PATH/vim/vimrc


ts=setup.sh
sz=source ~/.zshrc
sbp=source ~/.bash_profile

# config a good projet manager emake
emm=$THIEF_HOME_PATH/toolbox/general/emake.py
emm1=$THIEF_HOME_PATH/toolbox/general/emake.py --ini=$THIEF_HOME_PATH/config/emake/emake_cplusplus11.ini
emm4=$THIEF_HOME_PATH/toolbox/general/emake.py --ini=$THIEF_HOME_PATH/config/emake/emake_cplusplus14.ini
emm7=$THIEF_HOME_PATH/toolbox/general/emake.py --ini=$THIEF_HOME_PATH/config/emake/emake_cplusplus17.ini


### jump
cdn=cd ~/Downloads

ssh=ssh -F $THIEF_HOME_PATH/config/ssh_config

# config jump directory tool
jj=fasd_cd -d -i

# install command for ubuntu
si=sudo apt-get install

# adb short cut command
asl=adb shell
lc=adb logcat -c;adb logcat | grep
ads=adb root;adb remount;


# git short cut
gsl=git stash list
gch=git checkout
gsp=function _fc1_gs(){ git stash pop stash@{$1};};_fc1_gs
gst=git status
gss=git stash save
gcm=git commit -m 
ga=git add
grt=git reset
grtt=git reset --hard
gau=git add -u
gf=git fetch
gr=git rebase
# jump to git root directory
gg=cd $(git rev-parse --show-toplevel)
gd=git diff
gca=git commit --amend
gl=git pull
gp=function _fc2_gp(){ git push origin HEAD:$1;};_fc2_gp
t=tig



# emacs
em=emacs
ec=emacsclient
dof=~/.emacs.d/bin/doom refresh


# file statics
size_here=ncdu
